<div class="flex justify-center gap-4 mt-8">
  <section class="py-16 text-center w-full">
    <h1 class="text-5xl md:text-6xl font-bold">Salut, moi c'est Nicolas 👋</h1>

    <p class="text-xl md:text-2xl max-w-xl mx-auto mt-4">
      Ingénieur logiciel fullstack touche à tout.
      Développeur web passionné, je construis des interfaces modernes avec Angular & Tailwind.
    </p>

    <div class="flex justify-center gap-4 mt-10">
      <!-- bouton LinkedIn -->
      <a href="https://www.linkedin.com/in/nicolas-r-72865392/"
         target="_blank"
         class="inline-flex items-center gap-3 px-8 py-4 rounded-full shadow theme-button-blue">
        <img src="assets/img/avatar.png"
             alt="Profil LinkedIn de Nicolas"
             class="w-14 h-14 rounded-full">
        LinkedIn
      </a>

      <!-- bouton projets -->
      <a routerLink="/projets"
         class="inline-flex items-center gap-3 px-8 py-4 rounded-full shadow-lg hover:scale-105 transition-transform duration-300 theme-button-light">
        Voir mes projets
      </a>
    </div>
  </section>
</div>
